/* Animacion para mostrar todos los elementos */
.element {
    opacity: 0;
    transform: translateY(250px);
    transition: opacity 0.5s ease, transform 2s ease;
}

.element.fade-in {
    opacity: 1;
    transform: translateY(0);
}


/* boton de llamado a la accion */

#resizeButton {
    transition: all 2s ease-in-out;
}

#resizeButton.active {
    transform: scale(1.01);
}


/* Animacion del texto de arriba */
.fade-in1 {
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}